
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

 /* *{
    outline:1px solid red;
} */

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

#container{
    max-width: 1000px;
    margin: auto;
}

 /* HOME PAGE CSS */

.header{
    background-color: #00A8CC;
    background-image: url('images/logo.png');
    background-position: center, center;
    background-repeat: no-repeat, repeat-x;
    background-size: 160px, 210px;
    padding-bottom: 60px;
    padding-top: 55px;
}

.links {
    text-decoration: none;
    color: #000839;
}
.navigator{
    background-color: #00A8CC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}



.moreinfo {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headshot{
    background-color: #000839;
    background-image: url('images/headshot.png');
    background-position: center, center;
    background-repeat: no-repeat, repeat-x;
    background-size: 300px, 600px;
}

.bio{
    background-color: #005082;
    color: white;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 70px;
    padding-right: 70px;
}
h1{
    color: #FFA41B;
}


/* SKILLS PAGE CSS */

#skills-container{
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}